@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

body {
    font-family: "Fjalla One";

    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 4rem;
        background-color: #d1fca9;

        .categoria {
            color: #e5652b;
            text-decoration: none;
        }

        .logo {
            background-size: 100%;
            width: 200px;
            height: 60px;
            background-repeat: no-repeat;
            background-image: url("../images/Logo.png");
        }

        .search {
            display: flex;

            .lista {
                display: flex;

                .selector {
                    width: 150px;
                }
            }

            .lista :active .navSearchDropdown {
                display: unset;
            }
        }

        .FaOpencart {
            height: 40px;
            width: 40px;
            color: orange;
        }
    }

    .cartView {

        .cartData {
            display: flex;

            .cartReceipt {
                width: 65vw;
                margin: 2% auto;

                .cartReceiptData {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .cartItem {
                        display: flex;
                        width: 50vw;
                        height: 20vh;
                        align-items: center;

                        .cartThumbnail {
                            width: 20vh;
                            height: 20vh;
                        }

                        .cartInfo {
                            display: flex;
                            height: 50%;
                            width: 100%;
                            flex-direction: column;
                            justify-content: space-between;
                            text-align: right;

                            :first-child {
                                text-align: left;
                            }
                        }
                    }

                    .cartDelButton {
                        transform: scale(1.5);
                    }

                    .cartDelButton:active {
                        transform: scale(1);
                    }

                    .cartSubTotal {
                        width: 10vw;

                    }
                }

                .cartCost {
                    text-align: end;
                    padding: 3vw;
                }

                .delCart {
                    margin: 0px 50%;
                }
            }
        }

        .checkout {
            display: flex;
            flex-direction: column;
            width: 15vw;
            margin: 25vh auto;
            align-items: stretch;
            justify-content: space-around;
            text-align: center;
            max-height: 20vh;
            text-align: center;
            min-height: 15vh;

            .checkoutBtn {
                border: none;
                background: orange;
            }
        }

        .done {
            background-image: url("../images/checkout.jpg");
            padding-top: 15vh;
            font-size: 1vw;
            background-size: 105%;
            min-height: 70vh;
            min-width: 25vw;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                margin: 5px;
            }
        }

    }

    .textoDeCarga {
        min-height: 80vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 90vh;

        h1 {
            margin: 15px;
        }

        .gridContainer {
            width: 80%;
            margin: 50px;
            display: grid;
            grid-template-columns: 33% 33% 33%;

            .gridItem {
                text-decoration: none;
                color: black;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 50%;
                    margin: 10px;
                }

                input {
                    text-align: center;
                }

                .selector {
                    display: flex;
                    justify-content: space-between;
                }

                p {
                    width: 65%;
                }

                :nth-child(3) {
                    margin-top: 10px;
                    text-align: right;
                }
            }
        }

        .itemDetail {
            display: flex;
            max-height: 90vh;
            align-items: center;
            height: 100vh;
            width: 100vw;
            justify-content: center;

            .itemImagen {
                height: 75%;
            }

            .data {
                width: 30vw;
                height: 40vh;
                text-align: center;
                font-size: 1.8rem;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-evenly;

                .selector {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
}