@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
body {
  font-family: "Fjalla One";
}

body header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 4rem;
  background-color: #d1fca9;
}

body header .categoria {
  color: #e5652b;
  text-decoration: none;
}

body header .logo {
  background-size: 100%;
  width: 200px;
  height: 60px;
  background-repeat: no-repeat;
  background-image: url("../images/Logo.png");
}

body header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .search .lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .search .lista .selector {
  width: 150px;
}

body header .search .lista :active .navSearchDropdown {
  display: unset;
}

body header .FaOpencart {
  height: 40px;
  width: 40px;
  color: orange;
}

body .cartView .cartData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .cartView .cartData .cartReceipt {
  width: 65vw;
  margin: 2% auto;
}

body .cartView .cartData .cartReceipt .cartReceiptData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .cartView .cartData .cartReceipt .cartReceiptData .cartItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  height: 20vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .cartView .cartData .cartReceipt .cartReceiptData .cartItem .cartThumbnail {
  width: 20vh;
  height: 20vh;
}

body .cartView .cartData .cartReceipt .cartReceiptData .cartItem .cartInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
}

body .cartView .cartData .cartReceipt .cartReceiptData .cartItem .cartInfo :first-child {
  text-align: left;
}

body .cartView .cartData .cartReceipt .cartReceiptData .cartDelButton {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

body .cartView .cartData .cartReceipt .cartReceiptData .cartDelButton:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

body .cartView .cartData .cartReceipt .cartReceiptData .cartSubTotal {
  width: 10vw;
}

body .cartView .cartData .cartReceipt .cartCost {
  text-align: end;
  padding: 3vw;
}

body .cartView .cartData .cartReceipt .delCart {
  margin: 0px 50%;
}

body .cartView .checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15vw;
  margin: 25vh auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  max-height: 20vh;
  text-align: center;
  min-height: 15vh;
}

body .cartView .checkout .checkoutBtn {
  border: none;
  background: orange;
}

body .cartView .done {
  background-image: url("../images/checkout.jpg");
  padding-top: 15vh;
  font-size: 2vh;
  background-position: center;
  background-size: 65vh;
  min-height: 70vh;
  min-width: 10vw;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .cartView .done h3 {
  margin: 5px;
}

body .textoDeCarga {
  min-height: 50vh;
  text-align: center;
  margin: 10vh auto;
}

body .textoDeCarga .home {
  height: 5vh;
  width: 5vw;
  text-decoration: none;
  color: orange;
}

body .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90vh;
}

body .main h1 {
  margin: 15px;
}

body .main .gridContainer {
  width: 80%;
  margin: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
}

body .main .gridContainer .gridItem {
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .gridContainer .gridItem img {
  width: 50%;
  margin: 10px;
}

body .main .gridContainer .gridItem input {
  text-align: center;
}

body .main .gridContainer .gridItem .selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main .gridContainer .gridItem p {
  width: 65%;
}

body .main .gridContainer .gridItem :nth-child(3) {
  margin-top: 10px;
  text-align: right;
}

body .main .itemDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 90vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .main .itemDetail .itemImagen {
  height: 75%;
}

body .main .itemDetail .data {
  width: 30vw;
  height: 40vh;
  text-align: center;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .main .itemDetail .data .selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=App.css.map */